.portfolio {
  height: 100vh;
}

img {
  width: 100%;
  border-radius: 8%;
}

.portfolio-text {
  margin: 2rem 0 1rem 0;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  position: relative;
  color: pink;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  top: 6rem;
  left: 7rem;
}

.swiper-button-next {
  top: 4.65rem;
  left: 11rem;
}
