@font-face {
    font-family: "Melodrama";
    src: url(../fonts/Melodrama-Medium.woff);
}

@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito-Regular.woff);
}

@font-face {
    font-family: "Stardom";
    src: url(../fonts/Stardom-Regular.woff);
}